body
{
    width: 100%; 
    height: 100%; 
    padding: 0; 
    margin: 0;
    overflow: hidden;
}
ph-window
{
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.tab-group
{
    color: black;
}

.loom-tool-selector
{
    border-radius: 4.5px !important;
}

.loom-target-options
{
    display: inline-block;
    margin-right: 5px;
}

.loom-target-options input, .loom-target-options select
{
    font: -webkit-mini-control;
}

.loom-target-options input
{
    padding: 7px !important;
    margin: 6px !important;
    color: #333 !important;
    width: 100px !important;
    font-size: 12px !important;
}

.loom-target-options .remove
{
    font-size: 12px !important;
    color: #c52121; 
}

.loom-smart-target-options, .loom-magic-target-options
{
    width: 270px;
    margin: 5px;
}

.loom-smart-target-options .btn, .loom-magic-target-options .btn
{
    font-size: 8px;
}

.loom-smart-target-options .btn-group, .loom-magic-target-options .btn-group
{
    margin-top: -15px;
}

.loom-smart-target-options .slider, .loom-magic-target-options .slider
{
    width: 200px;
    height: 20px;
}

#stats
{
    position: absolute;
    bottom: 0;
    font-size: 9px;
    font-family: arial;
    color: #fefefe;
    width: 100%;
    height: 60px;
    -webkit-user-select: none;
}
#stats-render,
#stats-norender {
  max-height: 13px;
  display: inline-block;
}

#shape-selection {
  color: white;
  background-color: #333;
  border-color: #333;
  -webkit-user-select: all;
  -webkit-app-region: no-drag;
  border-width: 0px;
}
#shape-selection:focus
{
  outline: none;
}
#delay
{
  height: 12px;
  border-color: #333;
  -webkit-user-select: all;
  -webkit-app-region: no-drag;
  border-width: 0px;
  max-width: 25px;
  padding: 0px;
  font-size: 10px;
  text-align: right;
}
canvas
{
    -webkit-app-region: no-drag;
}
.shape
{
    font-size: 9px;
    font-family: arial;
    color: #fefefe;
    background-color: #333;
    border-radius: 2px;
    padding: 1px;
    display: none;
}
.setting.name
{
    font-size: 9px;
    border: none;
    border-radius: 3px;
    width: 50px;
}
.hide
{
    display: none;
}
select
{
    font-size: 9px;
}
.showhide
{
    font-size: 10px;
}
.fa
{
    color: white;
    font-size: 10px;
}
#stats .fa
{
    font-size: 9px;
}
