body
{
    margin: 0;
}
#parallel_video
{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.0;
}
#parallel_video_canvas
{
    position: absolute;
    left: 0;
    top: 0;
}

.highlight
{
    fill: rgba(246, 230, 80, 0.7);
    stroke: rgba(250, 240, 80, 0.8);
}

div.highlight
{
    background-color: rgba(246, 230, 80, 0.7);
    border: 1px solid rgba(250, 240, 80, 0.8);
}

#overlay
{
    background-color: rgba(0, 0, 0, 0.5);
}

.vjs-waiting 
{
  visibility: hidden;
  background: transparent;
}
.vjs-loading-spinner 
{
  display: none !important;
} 
.hide
{
    display: none;
}
#test
{
    position: absolute;
    left: 0;
    bottom: 0;
}
